button{
  outline: none;
  border: none;
  border-radius: 1px;
}

.btn-yes{
  color: #FFD700;
}

.btn-yes:hover{
  background-color: #ffd7002e;
}

.btn-no{
  color: #5F04B4;
  background-color: white;
}

.btn-no:hover{
  background-color: #5f04b444;
}
