button{
  outline: none;
}
.m-main{
  margin: auto;
  margin-top: 5rem;
}
.btn{
  background-color: lightgrey;
  color: gray;
}
.btn:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: mediumpurple;
  color: white;
}
