<mat-card class="m-main max-width">
  <div class="example-container" [formGroup]="form">
    <!-- First Name-->
    <div class="d-flex">
      <mat-form-field class="w-50 p-2">
        <input matInput placeholder="First Name" required formControlName="firstName">
        <mat-error *ngIf="form.controls.firstName.invalid">
          {{ myFunc(form.controls.firstName) }}
        </mat-error>
      </mat-form-field>
      <!-- Last Name-->
      <mat-form-field class="w-50 p-2">
        <input matInput placeholder="Last Name" required formControlName="lastName">
        <mat-error *ngIf="form.controls.lastName.invalid">
          {{ myFunc(form.controls.lastName) }}
        </mat-error>
      </mat-form-field>
    </div>
    <!--  Address-->
    <div>
      <mat-form-field class="p-2 w-100">
        <input matInput placeholder="Address" required formControlName="address">
        <mat-error *ngIf="form.controls.address.invalid">
          {{ myFunc(form.controls.address) }}
        </mat-error>
      </mat-form-field>
    </div>
    <!--  Date of birth-->
    <mat-form-field class="p-2 w-100">
      <input matInput [matDatepicker]="picker" placeholder="Date of birth" required formControlName="dateOfBirth">
      <mat-error *ngIf="form.controls.dateOfBirth.invalid">
        {{ myFunc(form.controls.dateOfBirth) }}
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!--  Select-->
    <div class="d-flex">
      <div class="w-50">
        <p>Gender</p>
        <mat-radio-group aria-label="Gender" formControlName="gender" required>
          <mat-radio-button value="male" class="p-2" color="primary">Male</mat-radio-button>
          <mat-radio-button value="female" class="p-2">Female</mat-radio-button>
          <mat-error *ngIf="form.controls.gender.touched && form.controls.gender.invalid">
            {{ myFunc(form.controls.gender) }}
          </mat-error>
        </mat-radio-group>
      </div>
      <div class="w-50">
        <mat-form-field class="w-100 pt-4">
          <mat-label>Select Blog</mat-label>
          <mat-select formControlName="select" required>
            <mat-option value="option1">Option1</mat-option>
            <mat-option value="option2">Option2</mat-option>
            <mat-option value="option3">Option3</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.select.touched && form.controls.select.invalid">
            {{ myFunc(form.controls.select) }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!--  Email-->
    <div class="p-2">
      <mat-form-field class="w-100">
        <input matInput placeholder="Email" required formControlName="email">
        <mat-error *ngIf="form.controls.email.invalid">
          {{ myFunc(form.controls.email)}}
        </mat-error>
        <mat-hint>use like : demo@demo.com</mat-hint>
      </mat-form-field>
    </div>
    <!-- toggle-->
    <div>
      <mat-slide-toggle color="warn" required formControlName="toggle">Accept Terms & Conditions</mat-slide-toggle>
      <mat-error *ngIf="form.controls.toggle.touched && form.controls.toggle.invalid">
        {{ myFunc(form.controls.toggle) }}
      </mat-error>
    </div>
    <!--btn-->
    <div class="text-center p-2">
      <button type="button" class="btn py-2 px-4 m-2" mat-button (click)="submit()"> Submit</button>
      <button type="button" class="btn py-2 px-4 m-2" mat-button (click)="openDialog()"
              [disabled]="!form.touched || !form.dirty">Clean Form
      </button>
      <button type="button" class="btn py-2 px-4 m-2" mat-button [routerLink]="['/lazy']"> List users</button>
    </div>
  </div>
</mat-card>


