@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

::ng-deep .mat-list-item-content{
  padding: 0 !important;
  display: block !important;
  font-size: 1.2rem!important;
}
.mat-line {
  font-family: 'Ubuntu', sans-serif !important;
}









