<mat-list-item *ngIf="userInfo" class="p-2">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <div mat-line class="m-3">{{ userInfo?.first_name | titlePipe:'User'}}</div>
      <div mat-line class="m-3">{{ userInfo?.last_name | titlePipe:'Last name'}}</div>
      <div mat-line class="m-3 d-flex">
        <p class="pr-1">
          <mat-icon>email</mat-icon >
        </p>
        <p>{{ userInfo?.email }}</p>
      </div>
    </div>
    <div mat-line class="m-3">
      <img [src]="userInfo?.avatar" alt="avatar">
    </div>
  </div>
</mat-list-item>

